<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Go Eat App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Katalog Restaurant, menampilkan katalog restaurant Terkenal">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel ="preload" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,700;0,900;1,100;1,600&family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" href="/icons/icon.png">
    <script defer src="https://kit.fontawesome.com/bdce83db25.js" crossorigin="anonymous"></script>
</head>

<body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <top-bar></top-bar>
    <custom-hero></custom-hero>
    <main tabindex="0" id="mainContent" class="wrapper">
      
    </main>
    <footer-bar>
</body>

</html>