footer {
    padding: 10px;
    /* box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3); */
    border-top: 0.3px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-size: 0.6rem;
}